# Snowflake
SNOWFLAKE_ACCOUNT=UQAYGBC-TZ81713
SNOWFLAKE_USER=JANHAVI
SNOWFLAKE_PASSWORD=Janhavidhiraj@57
SNOWFLAKE_DATABASE=SEC_FINANCIAL
SNOWFLAKE_WAREHOUSE=SEC_WAREHOUSE
SNOWFLAKE_ROLE=ACCOUNTADMIN

# AWS (from last project)
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_BUCKET_NAME=sec-financial-pipeline
AWS_REGION=us-east-2