# Snowflake
SNOWFLAKE_ACCOUNT=UQAYGBC-TZ81713
SNOWFLAKE_USER=JANHAVI
SNOWFLAKE_PASSWORD=Janhavidhiraj@57
SNOWFLAKE_DATABASE=SEC_FINANCIAL
SNOWFLAKE_WAREHOUSE=SEC_WAREHOUSE
SNOWFLAKE_ROLE=ACCOUNTADMIN

# AWS (from last project)
AWS_ACCESS_KEY_ID=AKIA4KJKQUEP6TX44KMH
AWS_SECRET_ACCESS_KEY=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
AWS_BUCKET_NAME=sec-financial-pipeline
AWS_REGION=us-east-2